body {
    font-family: "Open Sans", sans-serif;
    background-color: #a0c0f6;
}

h2 {
    margin-top: 10;
    text-align: center;
    color: #000;
}

.container {
    margin: 5% 5%;
    margin-bottom: 8%;
}

#controls {
    text-align: center;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#visualization {
    margin: auto;
    width: 960px;
    height: 500px;
    position: relative;
    background-color: #a0c0f6;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button.enabled {
    background-color: #0056b3; 
    color: white;
}

.button.disabled {
    background-color: #ccc; /* Gray */
    color: #666;
    cursor: not-allowed;
}
